/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: sticky;
    min-width: 100%;
    min-height: 100%;
  }
  
  .content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #0080ff;
    color: #fff;
    cursor: pointer;
    margin-left: 2px;
  }
  
  #myBtn:hover {
    background: #0080ff;
    opacity: 2;
    color: #fff;
  }


  